<launch>

    <arg name="bagfile" default = "/home/uib/bagfiles/colonia_sant_jordi/2020_11_03/11_17_42/images_2020-11-03-11-17-43_0.bag"/>

    <!-- Play the bagfile -->
    <node pkg = "rosbag" type = "play" name = "rosbag" args = " --clock $(arg bagfile)" />

    <node pkg = "camera_status" type = "camera_status" name = "camera_status" output = "screen">
    </node> 


</launch>